<html>
<head>
    <title>Login Form</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'adi/css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'adi/images/ticket.jpg' %}"/>
</head>
<body>
<div class="loginbox">
    <h1>Login Here</h1>
    <form>
        <p>Username</p>
        <input type="text" name="" placeholder="Enter Username" required>
        <p>Password</p>
        <input type="password" name="" placeholder="Enter Password" required>
        <a href="second.html">
            <input type="submit" name="" value="login">
        </a>
        <a href="{% url 'second' %}">Forgot Your Password</a><br>
        <a href="second.html">SignUp</a>
    </form>
</div>
</body>
</html>